.profile {
  width: 250px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 0px 10px #0000001a;
  overflow: hidden;
}

.description {
  padding: 8px 28px 0;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 16px;
  background-color: #000000;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #000000;
}

.tag,
.location {
  color: #888888;
  font-size: 14px;
  margin-bottom: 8px;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #eaeaea;
  border-top: 1px solid #dcdcdc;
}

.statsItem {
  width: 33.3333%;
  padding: 16px 0;
  border-right: 1px solid #dcdcdc;
}

.statsItem:last-child {
  border-right: none;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #000000;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
